*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container{
    width: 700px;
    margin: 50px auto;
    background:#ddd;

}
.form_wrapper {
    padding: 50px;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(9, 1fr);
}
.form_wrapper input{
    outline: none;
    font-size: 20px;
    background: transparent;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 26px;
    border-radius: 50%;
    border: 1px solid #0ecfca;
}
.form_wrapper input:checked{
    background: #0ecfca;
    border-color: white;
    color: white;
}

.form_wrapper p{
    font-size: 20px;
    background: transparent;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    border: 1px solid #0ecfca;
    cursor: pointer;
}
.form_wrapper p.ocupaid{
    background: #0ecfca;
    border-color: white;
    color: white;
}

.form a{
    display: inline-block;
    color: #fff;
    padding: 10px 30px;
    text-decoration: none;
    background: #000;
    border-radius: 5px;

}
.form{
    padding-bottom: 50px;
    text-align: center;
}
.tbody tr td{
    text-align: center;
}